{% load static %}
{% load thumbnail %}
<html>
  <head>
    <title>{{ title }}</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
  </head>

  <body>
    <div class="product-item">
      <div class="product-list">
        {% for item in items %}
          <a href="/item/{{ item.pk }}/">
          {% if item.image is not Null %}
            <div style="margin: 10px 10px 10px 0px; float: left;">
              {% thumbnail item.image "100x100" crop="center" upscale=True as im %}
                <img class="img-thumbnail" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
              {% endthumbnail %}
            </div>
          {% endif %}
          {{ item.name }}</a>
          {% if not forloop.last %}<hr style="clear: both;">{% endif %}
        {% endfor %}
      </div>
    </div>
  </body>
</html>
