<html>
  <head>
    <title>Buy Item {{ item.pk }}</title>
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <h1>{{ item.name }}</h1>
    <p>Description of {{ item.name }}</p>
    <p>{{ item.description }}</p>
    <p>Price - {{ item.price }}</p>

    <button id="buy-button" onclick="handler()">Buy</button>

    <script type="text/javascript">
      
      var url = '/buy/'+'{{ item.pk }}'+'/';
      var stripe = Stripe('pk_test_51M5uagFXiDYe7Pq77WqHHODnyzBF7RqpBOfD0URcReNMtC6GSNR50AzEmq2LeVdqUGbD2nPcveNv0ybbZL5ZzYuO000JobpvrJ');
      
      function handler() {
        fetch(url)
        .then((result) => { return result.json(); })
        .then((data) => {
        return stripe.redirectToCheckout({ sessionId: data.sessionId });
        })
        .then((res) => {
        console.log(res);
        });
      };

    </script>
  </body>
</html>
