{% load thumbnail %}
{% load static %}
<html>
  <head>
    <title>Buy Item {{ item.pk }}</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <script src="https://js.stripe.com/v3/"></script>
  </head>
  
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <a href="/">К списку товаров</a>
        </div>
      </div>
      <div class="row row-cols-md-2 row-cols-1 my-5 mx-5">
        <div class="col-md-4  col-sm-12 text-center">
          {% thumbnail item.image "270x270" crop="center" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
          {% endthumbnail %}
        </div>
        <div class="col-md-8 col-sm-12">
          <h3 class="my-3">{{ item.name }}</h3>
          <p class="my-3">{{ item.description }}</p>
          <div class="badge bg-primary text-wrap fs-2">{{ currency_symbol }} {{ price }}</div>
        </div>
      </div>
      <div class="row row-cols-sm-2 row-cols-1 my-5 mx-5">
        <div class="col-md-4 col-sm-12 text-center">
          <form action="{% url "cart:cart_add" item.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Добавить в корзину">
          </form>
          <button id="buy-button" onclick="handler()">Купить сейчас</button>
        </div>
        <div class="col-md-8 col-sm-12 text-center"></div>
      </div>
    </div>
          <script type="text/javascript">
            var url = '/buy/'+'{{ item.pk }}'+'/';
            function handler() {

              fetch("/config/")
              .then((result) => { return result.json(); })
              .then((data) => {
                const stripe = Stripe(data.publicKey);
                fetch(url)
                .then((result) => { return result.json(); })
                .then((data) => {
                  return stripe.redirectToCheckout({ sessionId: data.sessionId });
                })
                .then((res) => {
                  console.log(res);
                });
              });
            };
          </script>
        
  </body>
</html>
